body {
    background-color: #dec2e7;
    font-family: 'VT323', monospace; /* VHS font */
    color: black;
}

h1, p, button {
    font-family: 'VT323', monospace; /* VHS font */
    font-size: 24px;
}

button {
    background-color: #000; /* Black */
    color: #fff; /* White */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.draggable {
    position: absolute;
    cursor: move;
}

#login {
    text-align: center;
    margin-top: 20%;
}

#content {
    text-align: center;
    display: none;
}

img {
    width: 200px;
    height: auto;
    cursor: move;
}
