body {
    background-color: #dec2e7;
    font-family: 'Recoleta', sans-serif;
    color: black;
}

h1, h2 {
    text-align: center;
}

#login {
    text-align: center;
    margin-top: 50px;
}

#navButtons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

img {
    width: 200px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 20px auto;
    border: 5px solid white; /* Optional styling */
}
